<img src='photo/azy.png' class='about'>
<pre>
  Azy(あじー)と申します。
  プログラマーを目指して修行中です。
  連絡、ご要望はTwitterにお願いします。
</pre>
<a href="https://twitter.com/eastazy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @eastazy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/intent/tweet?screen_name=eastazy&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @eastazy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class= 'navspace'></div>
