<section class="container"><center>
  <h1> All for Engineer, Engineer for All </h1>
  <h3>全てはエンジニアのために、エンジニアはみんなのために</h3>
  <p>このサイトは機械系技術者であり</p>
  <p>プログラマーである管理主が</p>
  <p>"エンジニアにちょっと役に立つ"</p>
  <p>を目指してプログラミングしているサイトです</p>
  <img class="float-right engineer" src="photo/engineer.svg" width="32" height="32">
</center></section>
<div class="container border">
<a href="/calculator"><center>
  <h3> Engineer Calculator </h3><p>技術者計算機</p>
  <img src="photo/calculator.svg">
  <p>単位換算しながら計算するの面倒なので</p>
  <p>単位を入力したまま計算できる計算機を作りました</p>
</center></a></div>
