<table class="table is-fullwidth is-striped">
  <tbody>
    <tr>
      <td width="5%"><i class="fa fa-bell-o"></i></td>
      <td>Lorum ipsum dolem aire</td>
      <td><a class="button is-small is-primary" id="action1" data-value="action1_data">Action</a></td>
    </tr>
    <tr>
      <td width="5%"><i class="fa fa-bell-o"></i></td>
      <td>Lorum ipsum dolem aire</td>
      <td><a class="button is-small is-primary" id="action2" data-value="action2_data">Action</a></td>
    </tr>
  </tbody>
</table>
<form method='POST' action='/js_post'>
  <input type="text" name="tex">
  <button type="submit" id='button'>submit</button>
</form>
<div id="new"></div>

<script async type="text/javascript" src="/js/form.js"></script>
