.navigation {
  background: #191970;
}

/*engineer_calculator*/
.calculator h1, .calculator h5{
  margin:0.5rem;
}
.sticky {
  width:100%;
  padding-top:1rem;
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top:4.5rem;
  background:#ffffff;
  z-index:1;
  padding-bottom:1rem;
  transition: opacity 0.15s;
}
.sticky .button{
  display: block;
  margin-top:0.2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #4169e1;
  color: #fff;
  border-radius: 1rem;
  padding:0.8rem;
  font-size:1.5rem;
  border: none;
  width: 500px;
  font-weight: bold;
}
.sticky .button:hover{
  opacity: 0.6;
}
input[type="text"]{
  height: 3.8rem;
  font-size:2.3rem;
  width: 100%;
  max-width:112.0rem;
  text-align: center;
  border-radius: 1.5px;
  border: 1px solid #ccc;
}
input:placeholder-shown, input::-webkit-input-placeholder{
  opacity: 0.6;
}
.unit{
  margin-top: 3rem;
  width: 100%;
}
.alter{
  overflow-x: auto;
}
.unit h2{
  font-size: 2.0rem;
  margin: 0;
}
.unit p{
  margin: 0.5rem;
  font-size: 1.2rem;
}
.unit h2 span{
  border-radius: 0.5rem;
  padding: 0.3rem 2rem;
  color: #fff;
  background-color:#606c76;
}
.unit h3{
  margin-top: 2rem;
}
.unit h4{
  margin-bottom: 1rem;
}
.unit h4 span, .unit th span{
  border-radius: 0.5rem;
  padding: 0.3rem 2rem;
  color: #4169e1;
  border: 1px solid #4169e1;
  font-weight:normal;
  text-overflow: ellipsis;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 800px;
}
table th{
  padding:0.8rem;
  border: 1px solid #dcdcdc;
  max-width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
table td{
  padding:0.8rem;
  border: 1px solid #dcdcdc;
  word-wrap:break-word;
}
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 0.1rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.about{
  margin-top: 5rem;
  background: #191970;
}
/*for mobile*/
@media screen and (max-width: 640px) {
  .si{
    table-layout: fixed;
    width: 100%;
  }
  .sticky .button{
    width: 100%;
  }
}
@media screen and (max-width: 480px){
  .sticky{
    position: sticky;
    top:0;
    z-index:99;
  }
}
