.navigation {
  background: #006400;
}
footer {
  background: #006400;
}
a:link, a:visited, a:hover, a:active {
  color:#006400;
}

/*Excel*/
.vbacontent{
  max-width: 700px;
  margin: 3rem auto;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  overflow: visible;
}
.vbacontent pre{
  text-align: left;
  white-space: pre-wrap;
}
.vbacontent strong{
  display:inline-block;
  font-size: 1.8rem;
  margin:0.5rem 0;
}
.vbacontent pre img{
  max-width: 100%;
}
.container {
   max-width: 650px;
}
.category {
  vertical-align: middle;
}
.setting-border {
  border-bottom: 1px solid #ccc;
}
.about{
  margin-top: 5rem;
  background: #006400;
}
.dark{
  background: #000;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: scroll;
}
code{
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  overflow: scroll;
  white-space: pre;
  resize: horizontal;
  color: white;
}
