<h1 class="title"><i class="fas fa-question-circle"> HOW TO USE?</i></h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/53s7Qo9xNSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>RULE</h2>
<p>単位は "-", "+", "*", "/", "^" が使用可能です</p>
<p>"^"はべき乗を表します。</p>
<p>単位は大文字と小文字の区別が必要です。</p>
<p>大文字、小文字を区別せずに入力した場合は、正しく単位換算されない場合があります。</p>
<a href='calculator'><h4><i class="fas fa-calculator"></i>Go to Calculator</h4></a>
