<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Engineer.ico is web page for all of Engineer">
		<title>ENGINEER.ico</title>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href='css/engineer.css'>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123981773-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-123981773-2');
		</script>
	</head>
	<body>
		<main class="wrapper">
			<nav class="navigation conatainer">
					<a class="navigation-title" href="/">
					<img src="photo/icon.png"></img><title class="title">ENGINEER.ico</title></a>
					<ul class="navigation-list float-right">
						<li class="navigation-item">
							<a class="navigation-link" href="#popover-grid" data-popover><i class="fas fa-hard-hat"></i></a>
							<div class="popover" id="popover-grid">
								<ul class="popover-list">
									<li class="popover-item"><a class="popover-link" href="/calculator" title="Engineer Calculator">Engineer Calculator</a></li>
									<li class="popover-item"><a class="popover-link" href="https://github.com/AZeroyear/engineering_calculator" title="Git Hub">Git Hub</a></li>
									<li class="popover-item"><a class="popover-link" href="/about" title="about">About</a></li>
								</ul>
							</div>
						</li>
					</ul>
			</nav>
			<div class="navspace"></div>

		<%= yield %>
		</main>
		<section class="container"><center>
			<!--
			<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=20&l=ez&f=ifr&linkID=33c6b9ac04f97478abdb7dc476ae83c0&t=eas01-22&tracking_id=eas01-22" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
			-->
		</center></section>
		<footer><a href="https://www.eastazy.work", style="color:#ffffff">Azy - Achieve Zero year - all right reserved<a></footer>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://milligram.github.io/scripts/main.js"></script>
		<script async type="text/javascript" src="/js/form.js"></script>
	</body>
</html>
