<% p_class.each do |article| %>
<a href=<%= article[:url] %> >
<div class="category">

    <%= article[:icon] %>
    <h3><%= article[:title] %></h3>
    <%= article[:contents] %>
</div>
</a>
<% end %>
