<section class='vbacontent'>
  <i class="fas fa-3x fa-book"></i>
  <h1>2. VBAエディタの基本設定</h1>
  <p>VBAエディタの基本的な設定について解説します。</p>
  <pre>
<strong>0) 動画で学ぶ</strong>

<iframe width="560" height="315" src="https://www.youtube.com/embed/D2KqLRHfVfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<strong>1) シンタックスハイライトを設定する。(コードを色づけして見やすくする)</strong>
こちらの記事がおすすめです。
<a href='https://tonari-it.com/excel-vba-vbe-syntax-highlight/' taget='_blank'>【エクセルVBA】VBEの背景色や文字色を変更して画面を見やすくしよう</a>

VBAエディターを開いて

(ツール) => (オプション) => (エディタの設定) [タグ]

<img src='photo/excel/1-Class_1.jpg'>
で、コードの表示色を設定できます。筆者はリンク先のおすすめの設定にしています。
黒は目に優しいらしいので。

<strong>2) マクロに必要なエディタを表示する</strong>
VBAを書くためには、次の3つのウィンドウを表示ししておいた方がいいです。

- イミディエイト ウィンドウ
- ローカル ウィンドウ
- プロパティ ウィンドウ

(表示)
<img src='photo/excel/1-Class_2.jpg'>

をクリックして各ウィンドウを選択すればOKです。
こんな感じになったら成功です。
<img src='photo/excel/1-Class_3.jpg'>
  </pre>
</section>
