<% require "././controller/excel_helper" %>
<section class='vbacontent clearfix'>
<i class="fas fa-3x fa-laptop-code"></i>
<h1>2. クラスモジュールの作り方/使い方</h1>
<p>まずはクラスモジュールの作り方/使い方を解説します。</p>

<pre>
<strong>0) 動画で学ぶ</strong>
こちらの動画で作り方を解説しています。
<strong>1) 作り方</strong>
test test

<strong>2) 使い方</strong>

</pre>
</section>
