<section class='vbacontent'>
  <i class="fas fa-3x fa-file-code"></i>
  <h1>1. なぜクラスモジュールで作るのか?</h1>
  <p>エクセルでクラスモジュールを使う理由を解説します。</p>
  <pre>
エクセルでVBAを書いていると毎回似たような操作に遭遇することがありませんか？
例えば
- 動的配列を定義して、Redim Preserve で拡張。loopの書き方によっては最後に余るので不要な要素の削除。
- cellの値を読み込むために、列の数を数えて、cells(i,123)と記載する。
- テーブルを作成したシートから、対象の検索条件を選び出して、別のシートにコピーする。
etc..

こういった処理をVBAを書く度に、自作の関数をコピペして調整してを繰り返しているのではないでしょうか。

実はVBAはOffice 98以来、実質的に20年更新されていないレガシー言語です。
他の言語であれば一行で書けるコードを一生懸命、頭をひねって書く必要があります。
他の言語で代用できれば良いのですが、手っ取り早く業務の効率化をしようと思うと、
エクセルしか選択肢がないのではないでしょうか。筆者もその口です。

筆者はプログラマーではないのですが、趣味でRubyというオブジェクト指向言語を勉強しています。
その中で、クラスという概念を使うと、毎回同じコードを書いたり、基礎的な動きをするだけの関数を書くスレトスから解放されると考えました。

本サイトで主に紹介するのは次の２つのクラスです。
    <strong>1. Sheetを操作する[SHE]クラス</strong>
    <strong>2. 配列を操作する[TMP]クラス</strong>

どちらのクラスもこれまでよりも早くVBAを書けることは間違いありません。
ぜひ勉強してみてください！！

*このサイトは中級者に向けて書いています。
一からVBAを勉強されたい方はこちらのサイトがおすすめです。
<a href='https://www.vba-ie.net/foundation/index.php' target='_blank'>初心者向けVBA | ExcelのVBA入門</a>
  </pre>
</section>
