<section class="container">
  <h1>All for EXCEL, EXCEL for All</h1>
  <h3>全てはエクセルのために、エクセルはみんなのために</h3>
    <img src='photo/excel/Excellogo.png'>
    <p>このサイトはエクセル大好きで</p>
    <p>ノンプログラマー出身の管理主が</p>
    <p>"エクセル中級者"</p>
    <p>に向けて業務で使えるVBAコードを公開しているサイトです。</p>
</section>
<div class="navspace"></div>
