<section class="container">
  <h1>All for EXCEL, EXCEL for All</h1>
  <h3>全てはエクセルのために、エクセルはみんなのために</h3>

    <p>このサイトは機械系技術者であり</p>
    <p>プログラマーである管理主が</p>
    <p>"エンジニアにちょっと役立つ"</p>
    <p>を目指してプログラミングしているサイトです</p>
</section>
<section class="container">
  <div class="category">
    <a href="/calculator">
      <h3>Engineer Calculator</h3><h5>技術者計算機</h5>
      <i class="fas fa-calculator fa-5x"></i>
      <p>単位換算しながら計算するの面倒なので、
      単位を入力したまま計算できる計算機を作りました</p>
    </a>
  </div>
</section>
<section class="container">
  <div class="category notyet">
    <a href="#">
      <h3>Strength Calculator</h3><h5>強度計算機</h5>
      <i class="fas fa-expand-arrows-alt fa-5x"></i>
      <p>Comming Soon</p>
      <p>自動で強度計算をします</p>
    </a>
  </div>
</section>
