<section class="container">
  <h1>All for EXCEL, EXCEL for All</h1>
  <h3>全てはエクセルのために、エクセルはみんなのために</h3>
    <img src='photo/excel/Excellogo.png'>
    <p>このサイトはエクセル大好きで</p>
    <p>ノンプログラマー出身の管理主が</p>
    <p>"エクセル中級者"</p>
    <p>に向けて業務で使えるVBAコードを公開しているサイトです。</p>
</section>
<div class="navspace"></div>

<h2>1. 始めようクラスモジュール</h2>
<section class='container'>
  <%= erb(:'excel/_category', :locals => { :p_class => @excel_class }) %>
</section>

<div class="navspace"></div>

<h2>2. 自作クラスモジュールの応用編</h2>
<section class='container'>
  <%= erb(:'excel/_category', :locals => { :p_class => @act_class }) %>
</section>

<div class="navspace"></div>

<h2>3. VBAコード集</h2>
<section class='container'>
  <%= erb(:'excel/_category', :locals => { :p_class => @vba_class }) %>
</section>
